<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.review.mapper.BoardMapper">

	<insert id="create">
		insert into list_board (title, content, writer)
		values(#{title},#{content}, #{writer})
	</insert>

	<select id="read" resultType="com.review.domain.BoardVO">
		select
		no, title, content, writer,
		regdate, viewcnt , replycnt, reccnt
		from
		list_board
		where no = #{no}
	</select>

	<select id="listAll" resultType="com.review.domain.BoardVO">
 		<![CDATA[
 		select 
   			no, title, content, writer, regdate, viewcnt, reccnt 
 		from 
   			list_board 
 		where no > 0 
 		order by no desc, regdate desc
 		]]>
	</select>

	<select id="listPage" resultType="com.review.domain.BoardVO">
	 <![CDATA[
	 select 
	   no, title, content, writer, regdate, viewcnt, replycnt, reccnt
	 from 
	   list_board 
	 where no > 0 
	 order by no desc, regdate desc
	 limit #{page}, 10
	 ]]>
	</select>

	<select id="listCriteria" resultType="com.review.domain.BoardVO">
	 <![CDATA[
	 select 
	   no, title, content, writer, regdate, viewcnt, replycnt, reccnt
	 from 
	   list_board 
	 where no > 0 
	 order by no desc, regdate desc
	 limit #{pageStart}, #{perPageNum}
	 ]]>
	</select>

	<update id="update">
		update list_board set title =#{title}, content =#{content}
		where no = #{no}
	</update>

	<delete id="delete">
		delete from list_board where no = #{no}
	</delete>

	<select id="countPaging" resultType="int">
	 <![CDATA[
	 select 
	   count(no) 
	 from 
	   list_board 
	 where no > 0 
	 ]]>
	</select>

	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'c'.toString()">
				and content like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'w'.toString()">
				and writer like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'tc'.toString()">
				and ( title like CONCAT('%', #{keyword}, '%') OR content
				like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'cw'.toString()">
				and ( content like CONCAT('%', #{keyword}, '%') OR writer
				like
				CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'tcw'.toString()">
				and ( title like CONCAT('%', #{keyword}, '%')
				OR
				content
				like CONCAT('%', #{keyword}, '%')
				OR
				writer like CONCAT('%',
				#{keyword}, '%'))
			</if>
		</if>
	</sql>

	<select id="listSearch" resultType="com.review.domain.BoardVO">
	<![CDATA[  
	  select * 
	  from list_board 
	  where no > 0 
	]]>
		<include refid="search"></include>
  
	<![CDATA[    
	  order by no desc
	  limit #{pageStart}, #{perPageNum}
	]]>
	</select>

	<select id="listSearchCount" resultType="int">
	<![CDATA[  
	  select count(no) 
	  from list_board 
	  where no > 0 
	]]>
		<include refid="search"></include>
	</select>

	<update id="updateReplyCnt">
		update list_board set replycnt = replycnt + #{amount} 
		where no = #{no}
	</update>

	<update id="updateViewCnt">
		update list_board set viewcnt = viewcnt + 1 
		where no = #{no}
	</update>

	<insert id="addfile">
		insert into list_file(name, no) 
		values (#{name}, LAST_INSERT_ID())
	</insert>

	<select id="getfile" resultType="string">
		select name from list_file
		where no = #{no} order by regdate
	</select>

	<delete id="deletefile">
		delete from list_file where no = #{no}
	</delete>

	<insert id="replacefile">
		insert into list_file(name, no) 
		values (#{name}, #{no})
	</insert>
	
	<update id="updateRecCnt">
		update list_board set reccnt = reccnt + 1 
		where no = #{no}
	</update>

</mapper>
